<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <%- include('../share/common') %>
    <style>
        .images {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .images > img{
            width: 100%;
        }
        .button-wrapper{
            border-radius: 10px;
            padding-bottom: 20px;
        }
        .tips{
            font-size: 12px;
        }
        .rank-wrapper{
            margin-top: 16px;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 16px 0;
        }
        .rank-wrapper .title{
            display: flex;
            padding: 0 16px;
            margin-bottom: 16px;
            align-items: baseline;
        }
        .title .name{
            color: #333;
            font-size: 20px;
            margin-right: 10px;
        }
        .title .desc{
            font-size: 12px;
            color: #666666;
        }
        ul>li{
            padding: 12px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            color: #666;
        }
        ul>li.self{
            background: #FFF3E0;
        }
        li img{
            width: 12px;
        }
        li .rank{
            margin-right: 6px;
        }
        #modal{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,.6);
        }
        #modal .share{
            position: absolute;
            right: 20px;
            top: 10px;
            width: 128px;
        }
        #modal.hidden, #rulesModal.hidden, #shareModal.hidden, #loginModal.hidden{
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <audio id="audio" style="display: none;" src="/audio/music.mp3" autoplay preload loop="loop"></audio>

    <img src="images/shoes.png" alt="">
    <div id="rule" class="rules-wrapper">
        <div class="rules">活动规则</div>
        <div class="line"></div>
        <div class="background"></div>
    </div>
    <div class="content">
        <div class="button-wrapper">
            <div class="text">
                <span>已获得点赞</span>
                <img class="heart" src="images/heart.png" alt="">
                <span id="number" class="number"><%= (rank && rank.likeCount) || 0  %></span>
            </div>
            <div class="images">
                <img id="share" class="share" src="images/invite_button.png" alt="">
            </div>
            <p class="tips">一个用户仅可点赞一次，可转发其他朋友帮您点赞</p>
        </div>
        <div class="rank-wrapper">
            <div class="title">
                <span class="name">排行榜</span>
                <span class="desc">仅显示点赞排名前十位用户</span>
            </div>
            <ul>
                <% ranks.map((rank,index)=>{%>
                    <li class="<%= rank.phone === creator? "self" : ""%>">
                        <div class="phone">
                            <% if(index === 0) {%>
                                <img src="images/first.png" alt="">
                            <% } %>
                            <% if(index === 1) {%>
                                <img src="images/second.png" alt="">
                            <% } %>
                            <% if(index === 2) {%>
                                <img src="images/third.png" alt="">
                            <% } %>
                            <span class="rank"><%= index + 1 %></span>
                            <%= rank.phone.substr(0,3)+"****"+rank.phone.substr(7) %>
                        </div>
                        <div class="hearts">
                            <img src="images/heart.png" alt="">
                            <%= rank.likeCount %>
                        </div>
                    </li>
                <%}) %>
                <% if(biggerCount > 10) {%>
                    <li class="self">
                        <div class="phone">
                            <span class="rank"><%= biggerCount %></span>
                            <%= creator %>
                        </div>
                        <div class="hearts">
                            <img src="images/heart.png" alt="">
                            <%= rank.likeCount %>
                        </div>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</div>
<div id="modal" class="<%= !!creator? 'hidden': ''%>">
    <div id="shareModal" class="hidden">
        <img class="share" src="images/share.png" alt="">
    </div>
    <%- include('../share/rules') %>
    <%- include('../share/login', {needLogin: !creator}) %>
</div>
<%- include('../share/music') %>
<script>
    const shareBtn = document.getElementById('share')
    const shareModal = document.getElementById('shareModal')
    const rule = document.getElementById('rule')
    const rulesModal = document.getElementById('rulesModal')
    const closeRulesBtn = document.getElementById('closeRules')

    rule.addEventListener('click',()=>{
      modal.classList.remove('hidden')
      rulesModal.classList.remove('hidden')
    })
    closeRulesBtn.addEventListener('click',()=>{
      modal.classList.add('hidden')
      rulesModal.classList.add('hidden')
    })
    shareBtn.addEventListener('click', () => {
      modal.classList.remove('hidden')
      shareModal.classList.remove('hidden')
    })
    modal.addEventListener('touchmove', function(e) {
      e.preventDefault();
    }, false);
    modal.addEventListener('scroll', function(e) {
      e.preventDefault();
    }, false);
</script>
</body>
</html>
